.banner {
    object-fit: contain;
    color: white;
    /* height: 10rem; */
}

.banner_title {
    margin-top: 0;
    padding: 10px 0;
    font-size: 3rem;
    font-weight: 800
}

.banner_contents {
    margin-left: 20px
}

.banner_button {
    cursor: pointer;
    outline: none;
    border: none;
    margin-right: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.1rem;
    background-color: rgba(224, 223, 223, 0.5);
}

.banner_button:hover {
    color: black;
    background-color: #e6e6e6;
    transition: all 0.5s;
}

h3 {
    margin-top: 10px;
    width: 35rem;
}

.banner_fadeBottom {
    /* height: 7rem; */
    background-image: linear-gradient( 180deg, transparent, rgba(37, 37, 37, 0.61), #111)
}